html
  include partials/head
body
  h1= title
  h2(class='season-heading') Season #{season.number}
  table
    thead
      tr
        th No.
        th Title
        th Director
    tbody    
     for episode in season.episodes
      tr
        td= episode.number
        td= episode.title
        td= episode.director
      tr
        td(colspan=3)= episode.synopsis